.hoho
{
	width: 75%;
	margin: auto;
    text-align: justify;
    min-width: 200px;
    margin-top: 0;

}

.hihi
{
	width: 75%;
	margin: auto;
    text-align: justify;
}

.row_multiple
{

margin-top:50px;

}
